body {
  background: #E6FCFC;
  width: 100%;
  height: 100%;
}
#content {

  width: 996px;
  min-height: 632px;
  margin: 0 auto;
  height: auto;

  background: transparent url('images/daisy-bg.png') 0 0 no-repeat;
}
